<section>
  <div class="aside-holder">
    <app-aside-nav (toggleSearch)="toggleSearchBar($event)"></app-aside-nav>
  </div>
  <div class="content">
    <div class="posts-content">
      <div class="container">
        <div class="search-holder" [style.top]="openSearchBar ? '0%' : '-100%'">
            <div
          class="search-wrapper"
          
        >
          <input
            type="text"
            name="search"
            id="search"
            placeholder="Search for posts"
          />
          <div
            class="search-icon"
            [style.display]="openSearchBar ? 'block' : 'none'"
          >
            <svg
              xmlns="http://www.w3.org/2000/svg"
              width="20px"
              height="20px"
              viewBox="0 0 24 24"
            >
              <path
                fill="none"
                stroke="#666666"
                stroke-linecap="round"
                stroke-linejoin="round"
                stroke-width="1.5"
                d="M21 21l-4.35-4.35"
              />
              <circle
                fill="none"
                stroke="#666666"
                stroke-width="1.5"
                cx="10"
                cy="10"
                r="8"
              />
            </svg>
          </div>
        </div>
        </div>
        <header>
          <textarea
            name="post"
            id="post"
            placeholder="whats's on your mind?"
            cols="30"
            rows="10"
          ></textarea>
          <div class="actions">
            <div class="left-side">
              <div class="profileIcon">
                <img src="{{ currentUserIcon }}" alt="profileImage" />
              </div>
              <div class="btn-icons">
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  width="20px"
                  height="20px"
                  viewBox="0 0 256 256"
                >
                  <path
                    fill="#666666"
                    d="M216 44H72a12 12 0 0 0-12 12v20H40a12 12 0 0 0-12 12v112a12 12 0 0 0 12 12h144a12 12 0 0 0 12-12v-20h20a12 12 0 0 0 12-12V56a12 12 0 0 0-12-12M68 56a4 4 0 0 1 4-4h144a4 4 0 0 1 4 4v72.4l-16.89-16.89a12 12 0 0 0-17 0l-22.83 22.83l-46.79-46.83a12 12 0 0 0-17 0L68 119Zm120 144a4 4 0 0 1-4 4H40a4 4 0 0 1-4-4V88a4 4 0 0 1 4-4h20v84a12 12 0 0 0 12 12h116Zm28-28H72a4 4 0 0 1-4-4v-37.66l37.17-37.17a4 4 0 0 1 5.66 0l49.66 49.66a4 4 0 0 0 5.65 0l25.66-25.66a4 4 0 0 1 5.66 0L220 139.71V168a4 4 0 0 1-4 4m-52-88a8 8 0 1 1 8 8a8 8 0 0 1-8-8"
                  />
                </svg>
              </div>
            </div>

            <div class="right-side">
              <button class="post-button">Post</button>
            </div>
          </div>
        </header>
        @for (item of count; track $index) {
        <app-post-cards></app-post-cards>
        }
      </div>

      <div class="frequent-posts">
        <h3>Top Posts</h3>

        <ul>
          <li>Data Science</li>
          <li>Machine Learning</li>
          <li>Artificial Intelligence</li>
          <li>Python</li>
          <li>Java</li>
          <li>JavaScript</li>
          <li>React</li>
          <li>Angular</li>
        </ul>
      </div>
    </div>

    <div class="suggested-section">
      <div class="suggested-card">
        <h3>Suggested</h3>

        <div class="suggested-card-content">
          <div class="suggested-card-image">
            <div class="image-holder">
              <img
                src="https://images.unsplash.com/photo-1518314916381-77a37c2a49ae?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="suggestedUserImage"
              />
            </div>

            <div class="suggested-card-details">
              <h4>Machine Learning</h4>
              <p>By: John Doe</p>
            </div>
          </div>
          <div class="suggested-card-image">
            <div class="image-holder">
              <img
                src="https://images.unsplash.com/photo-1581090698407-7d93959da202?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="suggestedUserImage"
              />
            </div>

            <div class="suggested-card-details">
              <h4>Data Science</h4>
              <p>By: Jane Doe</p>
            </div>
          </div>
          <div class="suggested-card-image">
            <div class="image-holder">
              <img
                src="https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="suggestedUserImage"
              />
            </div>

            <div class="suggested-card-details">
              <h4>Artificial Intelligence</h4>
              <p>By: Alex Smith</p>
            </div>
          </div>
          <div class="suggested-card-image">
            <div class="image-holder">
              <img
                src="https://images.unsplash.com/photo-1606166325683-e6deb697d301?q=80&w=1785&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="suggestedUserImage"
              />
            </div>

            <div class="suggested-card-details">
              <h4>Computing</h4>
              <p>By: Sarah Johnson</p>
            </div>
          </div>
          <div class="suggested-card-image">
            <div class="image-holder">
              <img
                src="https://images.unsplash.com/photo-1565106430482-8f6e74349ca1?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="suggestedUserImage"
              />
            </div>

            <div class="suggested-card-details">
              <h4>Java</h4>
              <p>By: Michael Brown</p>
            </div>
          </div>
          <div class="suggested-card-image">
            <div class="image-holder">
              <img
                src="https://images.unsplash.com/photo-1518314916381-77a37c2a49ae?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="suggestedUserImage"
              />
            </div>

            <div class="suggested-card-details">
              <h4>JavaScript</h4>
              <p>By: Emily Davis</p>
            </div>
          </div>
          <div class="suggested-card-image">
            <div class="image-holder">
              <img
                src="https://images.unsplash.com/photo-1581090698407-7d93959da202?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="suggestedUserImage"
              />
            </div>

            <div class="suggested-card-details">
              <h4>React</h4>
              <p>By: David Wilson</p>
            </div>
          </div>
          <div class="suggested-card-image">
            <div class="image-holder">
              <img
                src="https://images.unsplash.com/photo-1487017159836-4e23ece2e4cf?q=80&w=2071&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
                alt="suggestedUserImage"
              />
            </div>

            <div class="suggested-card-details">
              <h4>Angular</h4>
              <p>By: Jessica Thompson</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
